<!--

Lightning Web Component for Flow Screens:       datatableV2

This component allows the user to configure and display a datatable in a Flow screen.

Additional components packaged with this LWC:

                    Lightning Web Components:

                    Apex Classes:               SObjectController2
                                                SObjectController2Test

VERSION:            2.47

RELEASE NOTES:      https://github.com/ericrsmith35/DatatableV2/blob/master/README.md

04/01/20 -  Eric Smith -    Version 1.0
Features:   The only required paramters are the SObject collection of records and a list of field API names
            The field label and field type will default to what is defined in the object
            Numeric fields will display with the correct number of decimal places as defined in the object
            Lookup fields are supported and will display the referenced record's name field as a clickable link
            All columns are sortable, including lookups (by name)
            The selection column can be multi-select (Checkboxes), single-select (Radio Buttons), or hidden
            A collection of pre-selected rows can be passed into the component
            Inline editing is supported with changed values passed back to the flow
            Unlike the original datatable component, only the edited records will be passed back to the flow
            The maximum number of rows to display can be set by the user
            Optional attribute overrides are supported and can be specified by list, column # or by field name, including:
                Alignment
                Editable
                Header Icon
                Header Label
                Initial Column Width
                Custom Cell Attributes including those with nested values {name: {name:value}}
                Custom Type Attributes including those with nested values {name: {name:value}}
                Other Custom Column Attributes including those with nested values {name: {name:value}}


Copyright (c) 2020, Eric Smith

Redistribution and use in source and binary forms, with or without modification, are permitted provided
that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived
from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->

<template>
	<template if:false={showSpinner}>

		<!-- Input dialog for entering Column Filter values -->
		<template if:true={isOpenFilterInput}>
			<div style="height: 40px;">
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container">
						<header class="slds-modal__header slds-modal__header_empty">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseModal}>
								<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
								<span class="slds-assistive-text">Close</span>
							</button>
						</header>
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
							<lightning-input
								type={inputType}
								formatter={inputFormat}
								label={inputLabel}
								value={columnFilterValue}
								onchange={handleChange}
							>
							</lightning-input>
						</div>
						<footer class="slds-modal__footer">
							<button class="slds-button slds-button_neutral" onclick={handleCloseModal}>Cancel</button>
							<button class="slds-button slds-button_brand" onclick={handleCommit}>Save</button>
						</footer>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			</div>
		</template>

		<!-- DATATABLE -->
		<div class={formElementClass}>
			<label class="slds-form-element__label" for="datatable">
				<div class="slds-media slds-media_center slds-media_small">
					<abbr class="slds-required" title="required">{requiredSymbol}</abbr>
					<div class="slds-media__figure">
						<template if:true={hasIcon}>
							<lightning-icon icon-name={tableIcon} alternative-text="Datatable Icon" title="Icon" size="small"></lightning-icon>
						</template>
					</div>
					<div class="slds-media__body">
						<lightning-formatted-rich-text value={formattedTableLabel}></lightning-formatted-rich-text>
					</div>
				</div>
			</label>

			<div style={tableHeight} class={borderClass} id="datatable">
				<c-rich-datatable
					data={mydata}
					columns={columns}
					key-field={keyField}
					sorted-by={sortedBy}
					sorted-direction={sortedDirection}
					max-row-selection={maxRowSelection}
					selected-rows={selectedRows}
					hide-checkbox-column={hideCheckboxColumn}
					suppress-bottom-bar={suppressBottomBar}
					onsort={updateColumnSorting}
					oncellchange={handleCellChange}
					onsave={handleSave}
					oncancel={cancelChanges}
					onheaderaction={handleHeaderAction}
					onrowselection={handleRowSelection}
					onrowaction={handleRowAction}
					onresize={handleResize}
					resize-column-disabled={isResizeColumnDisabled}
					column-widths-mode={columnWidthsMode}
				>
				</c-rich-datatable>
				<div if:true={showClearButton} class="slds-m-top_x-small">
					<lightning-button variant="brand-outline" label="Clear Selection" icon-name="utility:clear" onclick={handleClearSelection}></lightning-button>
				</div>
			</div>
			<div if:true={isWorking}>
				<lightning-spinner
					alternative-text="Working..." variant="brand">
				</lightning-spinner>
			</div>

		</div>

		<!-- Special parameter display for Configuration Mode -->
		<template if:true={isConfigMode}>
			<div>
				</br>
				<p><span class="slds-text-heading_medium">Click the attribute to load the clipboard with the value to be pasted into your datatableV2 parameter.</span></p>
				</br>
			</div>
			<div class="slds-m-horizontal_medium">
				<div class="slds-box slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Column Fields:</span></p>
					<lightning-pill label={columnFieldParameter} onremove={handleRemove} onclick={handleCopyFields}></lightning-pill>
				</div>
				<div class="slds-box slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Column Alignments:</span></p>
					<lightning-pill label={columnAlignmentParameter} onremove={handleRemove} onclick={handleCopyAligns}></lightning-pill>
				</div>
				<div class="slds-box slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Column Edits:
                        <lightning-button
	                        label="Select All Columns" variant="brand-outline" onclick={handleSelectAllEdit} class="slds-float_right">
                        </lightning-button>
                    </span></p>
					<lightning-pill label={columnEditParameter} onremove={handleRemove} onclick={handleCopyEdits}></lightning-pill>
				</div>
				<div class="slds-box slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Column Filters:
                        <lightning-button
	                        label="Select All Columns" variant="brand-outline" onclick={handleSelectAllFilter} class="slds-float_right">
                        </lightning-button>
                    </span></p>
					<lightning-pill label={columnFilterParameter} onremove={handleRemove} onclick={handleCopyFilters}></lightning-pill>
				</div>
				<div class="slds-box slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Column Labels:</span></p>
					<lightning-pill label={columnLabelParameter} onremove={handleRemove} onclick={handleCopyLabels}></lightning-pill>
				</div>
				<div class="slds-box slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Column Widths:
                        <lightning-button
	                        label={roundValueLabel} variant="brand-outline" onclick={handleRoundWidths} class="slds-float_right">
                        </lightning-button>
                    </span></p>
					<lightning-pill label={columnWidthParameter} onremove={handleRemove} onclick={handleCopyWidths}></lightning-pill>
				</div>
				<div class="slds-box slds-box_x-small slds-theme_alert-texture slds-m-vertical_xx-small">
					<p><span class="slds-text-heading_small">Clipboard Contents:</span></p>
					<input disabled class="my-clipboard slds-input"/>
				</div>
			</div>
		</template>

	</template>

	<!-- Spinner -->
	<template if:true={showSpinner}>
		<lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
	</template>

</template>